---
Checks: >-
  -*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  bugprone-unchecked-return-value,
  bugprone-unsafe-functions,
  bugprone-sizeof-expression,
  bugprone-suspicious-memory-comparison
WarningsAsErrors: ''
HeaderFilterRegex: '^wyrebox/'
FormatStyle: none
